@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 10px;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  footer {
    flex-direction: column;
    padding-bottom: 4rem;
    min-height: auto;
  }

  .imagem-exemplo {
    height: auto;
    width: 90%;
  }

  .caixa-conteudo,
  .caixa-menu {
    width: 90vw;
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  .contato {
    padding-bottom: 0.5rem;
  }

  .contato + .contato {
    margin-top: 0;
    padding-bottom: 2rem;
  }

  .caixa-texto {
    padding-left: 2rem;
    padding-top: 1.5rem;
  }

  .texto-imagem {
    right: 25px;
  }

  .caixa-menu {
    grid-template-columns: 1fr;
  }

  .prato {
    align-items: center;
    padding-left: 0;
    min-height: 30vh;
  }
}
